In [49]:
import pandas as pd
import numpy as np

In [50]:
data=pd.read_csv("diabetes.csv")

In [51]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [52]:
data.info()#basic idea that we get from the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [53]:
data.describe()#statistical analysis

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [54]:
# using isnull() function to see if any null data is available in the data set 
data.isnull()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

# Linear Regression Algorithm

## Dividing the dataset into dependent and independent columns

In [55]:
X=data.drop(['Outcome'],axis=1) #independent features from the dataset
y=data['Outcome'] #dependent column from the dataset
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [56]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

## Splitting the dataset into training and testing set

### 20% of the dataset will be used for testing(evaluation) and 80% of the data will be used for training purposes

In [57]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [58]:
#creating the machine learning model
from sklearn.linear_model import LinearRegression
linearmodel=LinearRegression()
linearmodel.fit(X_train,y_train) # training is taking place

LinearRegression()

In [59]:
#predictions
linearmodel.predict(X_test)

array([ 0.18511842,  0.51218059,  0.33755614,  0.22852223,  0.20271546,
        0.80709008, -0.14056485,  0.42796837,  0.40678726,  0.20472248,
        0.0691892 ,  0.17962217,  0.3557921 ,  0.09970701,  0.36685258,
        0.18319832,  0.28832309,  0.57823185,  0.20253005, -0.02035927,
       -0.06674697,  0.32957877,  0.23776679,  0.61742404,  0.81415059,
        0.40826499,  0.3969103 ,  0.48826044,  0.3594721 ,  0.22515693,
        0.52332109,  0.11727033,  0.77690942, -0.02361994,  0.39224067,
        0.160523  ,  0.41518463,  0.28473251,  0.46733259,  0.15969054,
       -0.11461752,  0.37623276, -0.00983645,  0.42510033,  0.13044543,
        0.82689134,  0.62210693,  1.04706801, -0.00481611,  0.80854114,
        0.37722473,  0.39431352,  0.42700068,  0.23783941,  0.70584177,
        0.76788517,  0.32335446,  0.61678802,  0.49542934,  0.57522488,
        0.05071762,  0.94716553,  0.80408209,  0.46029692,  0.33800152,
        0.20573928,  0.17615696,  0.34323406, -0.01958012,  0.35999861,
        0.28562474,  0.45835014,  0.39590451,  0.95088781,  0.15957277,
        0.03146883,  1.1327033 ,  0.15392936,  0.61641817,  0.13400397,
        0.20648382,  0.18069786,  0.95175994,  0.34535294,  0.76305089,
        0.45302469,  0.41344019,  0.6119083 ,  0.66904064,  0.56023063,
        0.21802581,  0.46951057,  0.41957709,  0.08245617,  0.28561876,
        0.98667438,  0.32572011,  0.22463671, -0.08765996,  0.07362356,
        0.0407623 ,  0.62215686,  0.93076505,  0.82983354,  0.46628708,
        0.36300044,  0.58778348,  0.07523129,  0.32792689, -0.15630539,
        0.0873602 ,  0.94556205,  0.2094124 ,  0.76055328,  0.45672341,
        0.04391997,  0.08709526,  0.65145277,  0.5574469 ,  0.38628855,
        0.01891814, -0.03222884,  0.16565866,  0.44613822,  0.36527364,
        0.62552658, -0.21170448,  0.07460162,  0.07374329,  0.448295  ,
        0.54860127,  0.238766  ,  0.25246878,  0.28582683,  0.36127806,
        0.04797831,  0.03695124,  0.33101014, -0.01460219, -0.56903072,
        0.84556647,  1.08374584,  0.79864308,  0.25630771,  0.14417421,
        0.27531852,  0.6933033 ,  0.7640926 ,  0.26818349,  0.61936094,
        0.63422979,  0.841253  ,  0.04036028,  0.69142707])

In [60]:
#calculating the accuracy of the model
linearmodel.score(X,y) # evaluation is taking place

0.2996614901274851

# Logistic Regression Algorithm

In [61]:
from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()

In [62]:
logmodel.fit(X_train,y_train)

C:\Users\aravindv\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [63]:
y_pred=logmodel.predict(X_test)

In [64]:
print(y_pred)

[0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0 1 0 0 0 0
 0 0 0 0 0 0 0 0 1 1 1 0 1 0 0 0 0 1 1 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 1
 0 0 1 0 1 0 0 0 1 0 1 0 0 1 1 1 0 0 0 0 0 1 0 0 0 0 0 1 1 1 0 0 1 0 0 0 0
 1 0 1 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 1 1
 0 1 1 1 0 1]

In [65]:
#calculating accuracy of the Classification model
from sklearn.metrics import confusion_matrix, accuracy_score
cm=confusion_matrix(y_test,y_pred)
ac=accuracy_score(y_test,y_pred)

In [66]:
print(cm)

[[89 16]
 [20 29]]

In [67]:
print(ac)

0.7662337662337663

# Decision Tree Algorithm

In [68]:
from sklearn.tree import DecisionTreeClassifier
tree_classifier=DecisionTreeClassifier()

In [69]:
tree_classifier.fit(X_train,y_train)

DecisionTreeClassifier()

In [70]:
predictions=tree_classifier.predict(X_test)

In [71]:
from sklearn.metrics import accuracy_score,confusion_matrix
cm=confusion_matrix(y_test,predictions)
ac=accuracy_score(y_test,predictions)

In [72]:
print(cm)

[[86 19]
 [15 34]]

In [73]:
print(ac)

0.7792207792207793

# KNN Algorithm

In [74]:
#importing KNN Classfier
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=11)

In [75]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=11)

In [76]:
predictions=knn.predict(X_test)

In [77]:
#accuracy
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,predictions)
ac=accuracy_score(y_test,predictions)

In [78]:
print(cm)

[[86 19]
 [21 28]]

In [79]:
print(ac)

0.7402597402597403

# Random Forest Algorithm

In [80]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()

In [81]:
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [82]:
y_pred=classifier.predict(X_test)

In [83]:
from sklearn.metrics import confusion_matrix, accuracy_score

cm=confusion_matrix(y_test,y_pred)
ac=accuracy_score(y_test,y_pred)

In [84]:
print(cm)

[[88 17]
 [21 28]]

In [85]:
print(ac)

0.7532467532467533

# Support Vector Machine Algorithm

In [86]:
from sklearn.svm import SVC
svc_model=SVC()

In [87]:
svc_model.fit(X_train,y_train)

SVC()

In [88]:
predictions=svc_model.predict(X_test)

In [89]:
from sklearn.metrics import confusion_matrix, accuracy_score

cm=confusion_matrix(y_test,predictions)
ac=accuracy_score(y_test,predictions)

In [90]:
print(cm)

[[96  9]
 [23 26]]

In [91]:
print(ac)

0.7922077922077922