In [151]:
#importing necessary packages
import numpy as np
import pandas as pd

In [152]:
data=pd.read_csv("Housing.csv")

In [153]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [154]:
data.info()#basic idea that we get from the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [155]:
data.describe()#statistical analysis

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [156]:
# using isnull() function to see if any null data is available in the data set 
data.isnull()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,False,False,False,False,False,False,False,False,False,False,False,False,False
541,False,False,False,False,False,False,False,False,False,False,False,False,False
542,False,False,False,False,False,False,False,False,False,False,False,False,False
543,False,False,False,False,False,False,False,False,False,False,False,False,False
544,False,False,False,False,False,False,False,False,False,False,False,False,False

# Data Preprocessing 
### Converting categorical variables of the dataset into numerical variables - using ONE HOT ENCODING technique

In [157]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [158]:
data['mainroad']=data['mainroad'].apply({'yes':1,'no':0}.get)
data['guestroom']=data['guestroom'].apply({'yes':1,'no':0}.get)
data['basement']=data['basement'].apply({'yes':1,'no':0}.get)
data['hotwaterheating']=data['hotwaterheating'].apply({'yes':1,'no':0}.get)
data['airconditioning']=data['airconditioning'].apply({'yes':1,'no':0}.get)
data['prefarea']=data['prefarea'].apply({'yes':1,'no':0}.get)
data['furnishingstatus']=data['furnishingstatus'].apply({'furnished':1,'semi-furnished':0, 'unfurnished':2}.get)


data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1

# Dividing the dataset into dependent and independent columns

In [159]:

X=data[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']] #independent features from the dataset

y=data['price'] #dependent column from the dataset

In [160]:
X.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,1
1,8960,4,4,4,1,0,0,0,1,3,0,1
2,9960,3,2,2,1,0,1,0,0,2,1,0
3,7500,4,2,2,1,0,1,0,1,3,1,1
4,7420,4,1,2,1,1,1,0,1,2,0,1

In [161]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

# Splitting the dataset into training and testing set
## 20% of the dataset will be used for testing(evaluation) and 80% of the data will be used for training purposes

In [162]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [163]:
#creating the machine learning model
from sklearn.linear_model import LinearRegression
linearmodel=LinearRegression()
linearmodel.fit(X_train,y_train) # training is taking place

LinearRegression()

In [164]:
#predictions
linearmodel.predict(X_test)

array([6203250.10084371, 7537596.16424081, 5370397.03654428,
       6737051.21655076, 3275973.99206936, 3587855.6348317 ,
       7555773.62501649, 7385862.01174892, 2784835.24724034,
       2775519.8231346 , 4042512.40636197, 2752363.48890918,
       7011597.13151196, 4522436.89699923, 4054991.76902778,
       5943220.27937293, 6463591.41549973, 4731623.90498826,
       6501660.927279  , 4160477.82021359, 8201518.66020938,
       4029874.40516059, 4528701.30697505, 2630283.6123013 ,
       5175306.81412617, 4820478.05629753, 6982258.95023048,
       3151947.36222275, 2930071.45807364, 5435519.86894234,
       3057776.43673986, 4032701.48526703, 4724125.79057968,
       4207497.91328859, 4298591.57892261, 6360371.19869249,
       4215787.38080551, 4588073.48044976, 3617681.24631753,
       4628199.30953889, 4454823.91989947, 4457471.9648615 ,
       6264182.8314803 , 4181053.00887112, 6723197.88060881,
       4564647.59670521, 4592663.77978055, 4427466.08304332,
       3759654.96574431, 3889900.19628066, 4823997.61648742,
       5632361.15153455, 3571731.37904561, 5249808.72870601,
       3793437.73596357, 6299062.09473195, 4795037.94975006,
       2344882.19003584, 2741811.49644041, 4729364.39750803,
       3444033.72876039, 7057921.80186952, 4411575.01178593,
       3453757.71393471, 6466208.54528469, 5569567.90647844,
       4834304.96599509, 5407976.64722593, 3287618.27220154,
       6586856.56540484, 5035436.71037412, 6596608.85734053,
       3456132.37924722, 4515580.14216617, 5605069.84645631,
       3961219.91582061, 6622300.71715639, 4063967.13781773,
       6367765.24562849, 2807276.67031036, 2775269.94638583,
       3726033.13723588, 6086189.23953798, 7002177.1614525 ,
       2410335.3092451 , 7429033.83163254, 3771438.80029642,
       2966569.09838416, 3508984.4923708 , 3657309.11995915,
       5871689.15194296, 4159790.29021736, 3189657.83709968,
       3387124.49970046, 2208484.39567387, 3296801.38883544,
       2714122.42925296, 2582927.86033106, 3810976.29651164,
       5562593.33631499, 3118314.86966236, 2620968.18819556,
       3964166.38399682, 4017431.1058396 , 5792785.60387815,
       5212571.84622009, 4895595.50998675, 4600559.80033499,
       3505896.15704865])

In [165]:
#calculating the accuracy of the model
linearmodel.score(X,y) # evaluation is taking place

0.6774439767117699

In [166]:
X.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,1
1,8960,4,4,4,1,0,0,0,1,3,0,1
2,9960,3,2,2,1,0,1,0,0,2,1,0
3,7500,4,2,2,1,0,1,0,1,3,1,1
4,7420,4,1,2,1,1,1,0,1,2,0,1

In [167]:
#predictions with respect to new dataset
data_new={'area':9520,'bedrooms':3,'bathrooms':2,'stories':2,'mainroad':0,'guestroom':1,'basement':0,'hotwaterheating':1,'airconditioning':1,'parking':1,'prefarea':0,'furnishingstatus':1}
index=[1]#serial number
my_data=pd.DataFrame(data_new,index)

In [168]:
print(my_data)

   area  bedrooms  bathrooms  stories  mainroad  guestroom  basement  \
1  9520         3          2        2         0          1         0

   hotwaterheating  airconditioning  parking  prefarea  furnishingstatus
1                1                1        1         0                 1

In [169]:
#Pricing allocated
my_data_price=linearmodel.predict(my_data)
rounded_price = np.round(my_data_price, 2)
print(f"the charges allocated to the new customer is {rounded_price}")

the charges allocated to the new customer is [7763090.04]

In [170]:
new_insert_data=pd.read_csv("new_dataset.csv")

In [171]:
new_insert_data['mainroad']=new_insert_data['mainroad'].apply({'yes':1,'no':0}.get)
new_insert_data['guestroom']=new_insert_data['guestroom'].apply({'yes':1,'no':0}.get)
new_insert_data['basement']=new_insert_data['basement'].apply({'yes':1,'no':0}.get)
new_insert_data['hotwaterheating']=new_insert_data['hotwaterheating'].apply({'yes':1,'no':0}.get)
new_insert_data['airconditioning']=new_insert_data['airconditioning'].apply({'yes':1,'no':0}.get)
new_insert_data['prefarea']=new_insert_data['prefarea'].apply({'yes':1,'no':0}.get)
new_insert_data['furnishingstatus']=new_insert_data['furnishingstatus'].apply({'furnished':1,'semi-furnished':0, 'unfurnished':2}.get)

In [172]:
new_insert_data

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,11230,2,2,3,1,0,0,0,1,2,1,0
1,7650,4,3,4,1,0,0,0,1,3,0,1
2,9970,3,2,2,1,1,1,0,0,2,1,0
3,6755,4,2,2,1,0,0,0,1,3,1,1
4,8900,4,1,2,1,1,1,0,1,2,0,1
5,6754,3,4,1,1,0,1,0,1,2,1,0
6,2345,2,3,4,1,0,0,0,1,2,1,0
7,1234,5,3,2,1,0,0,0,0,0,0,2
8,9088,4,1,2,1,1,0,0,0,2,1,1
9,7865,3,2,4,1,1,0,0,1,1,1,2
10,12450,3,4,2,1,0,1,0,1,2,1,1
11,8000,4,3,2,1,1,1,1,0,2,0,0
12,7660,5,2,2,0,0,0,0,1,1,1,2
13,4500,4,2,2,1,0,0,1,0,2,0,1
14,7200,3,2,2,1,0,0,0,0,0,1,0
15,7000,4,4,2,1,1,1,0,1,2,0,0
16,3400,3,2,2,0,1,1,0,1,1,1,2
17,8900,3,2,4,1,0,0,0,0,2,0,2
18,3200,3,2,2,1,1,0,0,1,2,0,1
19,6478,3,2,2,1,0,0,0,0,1,1,0
20,5432,3,1,2,0,0,1,1,0,2,0,0
21,8977,4,2,1,1,1,1,0,1,2,0,2
22,9000,3,1,1,1,1,1,0,1,1,0,1

In [173]:
#Pricing allocated using the new_inserted_data
my_new_data_price=linearmodel.predict(new_insert_data)
rounded_price = np.round(my_new_data_price, 2)
print(f"{rounded_price}")
for price in rounded_price:
    integer_price=int(price)
    print(integer_price)

[ 8823647.62  9129234.13  7917222.5   7580110.56  6808262.11  9363300.34
  8273941.87  4897991.95  6186659.02  8306647.01 11035587.04  8893359.82
  6809444.51  6217086.39  6063518.74  9577813.76  6311888.23  6993000.4
  5955604.27  6155950.    5518783.37  7190481.61  5974191.59]
8823647
9129234
7917222
7580110
6808262
9363300
8273941
4897991
6186659
8306647
11035587
8893359
6809444
6217086
6063518
9577813
6311888
6993000
5955604
6155950
5518783
7190481
5974191

In [174]:
print(type(integer_price))

<class 'int'>

In [176]:
# my_new_data_price['Pricing'] = my_new_data_price[integer_price]
# my_new_data_price


# my_new_data_price['Pricing'] = integer_price.values
# my_new_data_price
# df=my_new_data_price.insert(12, "Pricing", i, True)
# df

# df2 = my_new_data_price.assign(Pricing=price)
# df2

# my_new_data_price.insert(len(my_new_data_price.columns), 'Pricing', integer_price.values)

AttributeError: 'numpy.ndarray' object has no attribute 'insert'