In [1]:
#importing necessary packages
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("Housing.csv")

In [3]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
data.info()#basic idea that we get from the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [5]:
data.describe()#statistical analysis

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [6]:
# using isnull() function to see if any null data is available in the data set 
data.isnull()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,False,False,False,False,False,False,False,False,False,False,False,False,False
541,False,False,False,False,False,False,False,False,False,False,False,False,False
542,False,False,False,False,False,False,False,False,False,False,False,False,False
543,False,False,False,False,False,False,False,False,False,False,False,False,False
544,False,False,False,False,False,False,False,False,False,False,False,False,False

# Data Preprocessing 
### Converting categorical variables of the dataset into numerical variables - using ONE HOT ENCODING technique

In [7]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [8]:
data['mainroad']=data['mainroad'].apply({'yes':1,'no':0}.get)
data['guestroom']=data['guestroom'].apply({'yes':1,'no':0}.get)
data['basement']=data['basement'].apply({'yes':1,'no':0}.get)
data['hotwaterheating']=data['hotwaterheating'].apply({'yes':1,'no':0}.get)
data['airconditioning']=data['airconditioning'].apply({'yes':1,'no':0}.get)
data['prefarea']=data['prefarea'].apply({'yes':1,'no':0}.get)
data['furnishingstatus']=data['furnishingstatus'].apply({'furnished':1,'semi-furnished':0, 'unfurnished':2}.get)


data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1

# Dividing the dataset into dependent and independent columns

In [9]:

X=data[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']] #independent features from the dataset

y=data['price'] #dependent column from the dataset

In [10]:
X.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,1
1,8960,4,4,4,1,0,0,0,1,3,0,1
2,9960,3,2,2,1,0,1,0,0,2,1,0
3,7500,4,2,2,1,0,1,0,1,3,1,1
4,7420,4,1,2,1,1,1,0,1,2,0,1

In [11]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

# Splitting the dataset into training and testing set
## 20% of the dataset will be used for testing(evaluation) and 80% of the data will be used for training purposes

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [13]:
#creating the machine learning model
from sklearn.linear_model import LinearRegression
linearmodel=LinearRegression()
linearmodel.fit(X_train,y_train) # training is taking place

LinearRegression()

In [14]:
#predictions
linearmodel.predict(X_test)

array([5136096.57199069, 3758256.68283804, 4838964.84035022,
       4946591.10682703, 7888546.92118125, 2896950.0788685 ,
       4557983.89476089, 4017271.05161572, 2100989.1701145 ,
       5294216.51661936, 6586823.03146078, 5568023.63885679,
       3135178.68026107, 4767009.39680143, 4869860.50814259,
       5125252.37831413, 4792153.83085515, 4855252.83379709,
       4670683.35806194, 5537179.73876166, 7231008.91643475,
       5538839.39483522, 5898093.3765893 , 5326792.05957685,
       4367560.83204088, 3062008.08661518, 6631058.03530859,
       3816479.17925964, 4718528.40599793, 5042796.65426847,
       5323651.65839827, 3568376.55792766, 6617199.73435872,
       2935988.82503179, 3036653.8892719 , 7074131.80618913,
       2725900.68679765, 4039770.00356759, 5417286.23048777,
       6221671.85407361, 3442023.44684991, 4004269.11271073,
       3971717.00613613, 3591713.84320281, 5366681.26732127,
       7231240.15350906, 3273452.92889139, 2988530.5656008 ,
       6996899.86381314, 2728153.96301547, 3237564.03112166,
       4150270.78972337, 8009124.39105698, 6820682.97119697,
       5031548.03348089, 4046490.87821593, 4368901.60332786,
       6556026.09896943, 4974454.45430903, 3314175.42252735,
       4465917.36943964, 7303109.31322834, 3083567.36771508,
       4064996.00572933, 3712712.48534361, 6414855.162202  ,
       6174429.56501352, 4251708.22490444, 7140909.94127022,
       4259711.16363882, 3206647.70348523, 7455441.1371816 ,
       4560615.41990282, 4803177.97457182, 6745022.99572224,
       5264105.64760897, 3236419.72674717, 5845607.98832515,
       2254780.7967721 , 4965561.58482579, 3803295.80318427,
       6336471.57608746, 4188838.16208846, 2645684.05344346,
       4137811.03620021, 3311902.2700629 , 5760837.07850379,
       3724102.05128942, 2820538.28794585, 2913327.93500717,
       7550587.13569973, 2698861.37218388, 6991512.88653815,
       4215521.98842084, 7038096.95271941, 8408606.94547978,
       2818159.36637634, 6279587.56652403, 5831398.77094148,
       5292342.91683078, 5890030.48574751, 6299931.59908315,
       3178844.3774437 , 3803322.20719432, 8351458.40936604,
       4207352.89295428, 5886300.83782881, 5877242.43748718,
       3960214.2700561 ])

In [15]:
#calculating the accuracy of the model
linearmodel.score(X,y) # evaluation is taking place

0.6767571224083928

In [16]:
X.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,1
1,8960,4,4,4,1,0,0,0,1,3,0,1
2,9960,3,2,2,1,0,1,0,0,2,1,0
3,7500,4,2,2,1,0,1,0,1,3,1,1
4,7420,4,1,2,1,1,1,0,1,2,0,1

In [17]:
#predictions with respect to new dataset
data_new={'area':9520,'bedrooms':3,'bathrooms':2,'stories':2,'mainroad':0,'guestroom':1,'basement':0,'hotwaterheating':1,'airconditioning':1,'parking':1,'prefarea':0,'furnishingstatus':1}
index=[1]#serial number
my_data=pd.DataFrame(data_new,index)

In [18]:
print(my_data)

   area  bedrooms  bathrooms  stories  mainroad  guestroom  basement  \
1  9520         3          2        2         0          1         0

   hotwaterheating  airconditioning  parking  prefarea  furnishingstatus
1                1                1        1         0                 1

In [19]:
#Pricing allocated
my_data_price=linearmodel.predict(my_data)
rounded_price = np.round(my_data_price, 2)
print(f"the charges allocated to the new customer is {rounded_price}")

the charges allocated to the new customer is [7751981.57]

# Trying to predict with a new test dataset

In [20]:
new_insert_data=pd.read_csv("new_dataset.csv")

In [21]:
## Converting all categorical variables to numerical variables

new_insert_data['mainroad']=new_insert_data['mainroad'].apply({'yes':1,'no':0}.get)
new_insert_data['guestroom']=new_insert_data['guestroom'].apply({'yes':1,'no':0}.get)
new_insert_data['basement']=new_insert_data['basement'].apply({'yes':1,'no':0}.get)
new_insert_data['hotwaterheating']=new_insert_data['hotwaterheating'].apply({'yes':1,'no':0}.get)
new_insert_data['airconditioning']=new_insert_data['airconditioning'].apply({'yes':1,'no':0}.get)
new_insert_data['prefarea']=new_insert_data['prefarea'].apply({'yes':1,'no':0}.get)
new_insert_data['furnishingstatus']=new_insert_data['furnishingstatus'].apply({'furnished':1,'semi-furnished':0, 'unfurnished':2}.get)

In [22]:
new_insert_data

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,11230,2,2,3,1,0,0,0,1,2,1,0
1,7650,4,3,4,1,0,0,0,1,3,0,1
2,9970,3,2,2,1,1,1,0,0,2,1,0
3,6755,4,2,2,1,0,0,0,1,3,1,1
4,8900,4,1,2,1,1,1,0,1,2,0,1
5,6754,3,4,1,1,0,1,0,1,2,1,0
6,2345,2,3,4,1,0,0,0,1,2,1,0
7,1234,5,3,2,1,0,0,0,0,0,0,2
8,9088,4,1,2,1,1,0,0,0,2,1,1
9,7865,3,2,4,1,1,0,0,1,1,1,2
10,12450,3,4,2,1,0,1,0,1,2,1,1
11,8000,4,3,2,1,1,1,1,0,2,0,0
12,7660,5,2,2,0,0,0,0,1,1,1,2
13,4500,4,2,2,1,0,0,1,0,2,0,1
14,7200,3,2,2,1,0,0,0,0,0,1,0
15,7000,4,4,2,1,1,1,0,1,2,0,0
16,3400,3,2,2,0,1,1,0,1,1,1,2
17,8900,3,2,4,1,0,0,0,0,2,0,2
18,3200,3,2,2,1,1,0,0,1,2,0,1
19,6478,3,2,2,1,0,0,0,0,1,1,0
20,5432,3,1,2,0,0,1,1,0,2,0,0
21,8977,4,2,1,1,1,1,0,1,2,0,2
22,9000,3,1,1,1,1,1,0,1,1,0,1

In [24]:
#Predicting the Price  using the new_inserted_data
new_data_price=linearmodel.predict(new_insert_data)
rounded_price = np.round(new_data_price, 2)
print(f"{rounded_price}")
# for price in rounded_price:
#     integer_price=int(price)
#     # print(integer_price)
#Add the output of rounded_price to the existing new_insert_data sheet.

new_insert_data.insert(len(new_insert_data.columns), 'Pricing', rounded_price)
new_insert_data

[ 8772324.12  9064383.01  7967333.65  7588135.88  6805028.16  9353408.16
  8275512.37  5036353.76  6379862.7   8433479.95 10911554.52  8806809.1
  6761513.94  6072172.1   6135704.9   9735451.83  6331158.32  6888278.85
  6240567.43  6219030.79  5077978.33  7278613.59  6047372.26]

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,Pricing
0,11230,2,2,3,1,0,0,0,1,2,1,0,8772324.12
1,7650,4,3,4,1,0,0,0,1,3,0,1,9064383.01
2,9970,3,2,2,1,1,1,0,0,2,1,0,7967333.65
3,6755,4,2,2,1,0,0,0,1,3,1,1,7588135.88
4,8900,4,1,2,1,1,1,0,1,2,0,1,6805028.16
5,6754,3,4,1,1,0,1,0,1,2,1,0,9353408.16
6,2345,2,3,4,1,0,0,0,1,2,1,0,8275512.37
7,1234,5,3,2,1,0,0,0,0,0,0,2,5036353.76
8,9088,4,1,2,1,1,0,0,0,2,1,1,6379862.70
9,7865,3,2,4,1,1,0,0,1,1,1,2,8433479.95
10,12450,3,4,2,1,0,1,0,1,2,1,1,10911554.52
11,8000,4,3,2,1,1,1,1,0,2,0,0,8806809.10
12,7660,5,2,2,0,0,0,0,1,1,1,2,6761513.94
13,4500,4,2,2,1,0,0,1,0,2,0,1,6072172.10
14,7200,3,2,2,1,0,0,0,0,0,1,0,6135704.90
15,7000,4,4,2,1,1,1,0,1,2,0,0,9735451.83
16,3400,3,2,2,0,1,1,0,1,1,1,2,6331158.32
17,8900,3,2,4,1,0,0,0,0,2,0,2,6888278.85
18,3200,3,2,2,1,1,0,0,1,2,0,1,6240567.43
19,6478,3,2,2,1,0,0,0,0,1,1,0,6219030.79
20,5432,3,1,2,0,0,1,1,0,2,0,0,5077978.33
21,8977,4,2,1,1,1,1,0,1,2,0,2,7278613.59
22,9000,3,1,1,1,1,1,0,1,1,0,1,6047372.26

# Different method of inserting column - EXAMPLES

In [ ]:
# new_insert_data['Pricing'] = new_insert_data['integer_price']
# new_insert_data


# new_insert_data['Pricing'] = integer_price
# new_insert_data

# df=new_insert_data.insert(12, "Pricing", integer_price, True)
# print(df)

# df2 = my_new_data_price.assign(Pricing=price)
# df2

# new_insert_data.insert(len(new_insert_data.columns), 'Pricing', integer_price)

# new_insert_data