In [85]:
#importing necessary packages
import numpy as np
import pandas as pd

In [86]:
data=pd.read_csv("Housing.csv")

In [87]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [88]:
data.info()#basic idea that we get from the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [89]:
data.describe()#statistical analysis

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [90]:
# using isnull() function to see if any null data is available in the data set 
data.isnull()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,False,False,False,False,False,False,False,False,False,False,False,False,False
541,False,False,False,False,False,False,False,False,False,False,False,False,False
542,False,False,False,False,False,False,False,False,False,False,False,False,False
543,False,False,False,False,False,False,False,False,False,False,False,False,False
544,False,False,False,False,False,False,False,False,False,False,False,False,False

# Data Preprocessing 
### Converting categorical variables of the dataset into numerical variables - using ONE HOT ENCODING technique

In [91]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [92]:
data['mainroad']=data['mainroad'].apply({'yes':1,'no':0}.get)
data['guestroom']=data['guestroom'].apply({'yes':1,'no':0}.get)
data['basement']=data['basement'].apply({'yes':1,'no':0}.get)
data['hotwaterheating']=data['hotwaterheating'].apply({'yes':1,'no':0}.get)
data['airconditioning']=data['airconditioning'].apply({'yes':1,'no':0}.get)
data['prefarea']=data['prefarea'].apply({'yes':1,'no':0}.get)
data['furnishingstatus']=data['furnishingstatus'].apply({'furnished':1,'semi-furnished':0, 'unfurnished':2}.get)


data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1

# Dividing the dataset into dependent and independent columns

In [93]:

X=data[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']] #independent features from the dataset

y=data['price'] #dependent column from the dataset

In [94]:
X.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,1
1,8960,4,4,4,1,0,0,0,1,3,0,1
2,9960,3,2,2,1,0,1,0,0,2,1,0
3,7500,4,2,2,1,0,1,0,1,3,1,1
4,7420,4,1,2,1,1,1,0,1,2,0,1

In [95]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

# Splitting the dataset into training and testing set
## 20% of the dataset will be used for testing(evaluation) and 80% of the data will be used for training purposes

In [96]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [97]:
#creating the machine learning model
from sklearn.linear_model import LinearRegression
linearmodel=LinearRegression()
linearmodel.fit(X_train,y_train) # training is taking place

LinearRegression()

In [98]:
#predictions
linearmodel.predict(X_test)

array([ 6957533.66529707,  5077645.3684608 ,  3842944.59133283,
        4439461.38858661,  4103718.33379073,  3243656.96331656,
        3158472.67753158,  2762189.74364631,  4009818.6119899 ,
        7868217.68291242,  3756887.35938617,  5333968.19997138,
        4885624.76181237,  6160822.68577572,  6002527.50729747,
        4014176.32999783,  3257272.28306148,  6648591.06792853,
        2679535.58629902,  3789040.01522884,  5493066.96853153,
        3633515.2288065 ,  5729923.08379555,  4524251.12160281,
        7026516.58213951,  4085150.17888403,  2089786.65015793,
        5713760.39988441,  3712514.98994498,  4152455.02649235,
        4228147.53091786,  5575195.36475276,  6832961.96546659,
        5023948.39932887,  3846531.87524925,  3997961.98498244,
        6575182.07836378,  5296073.28801332,  6614351.80085596,
        4969962.18222925,  3483359.99978163,  3233473.70108086,
        3473178.03836063,  7423798.6190385 ,  3528207.00344931,
        4803684.66690896,  5782512.7896433 ,  4095585.52767523,
        4443035.86204121,  3666034.51475563,  6240692.73412771,
        2272154.20782025,  6868596.57571028,  4473759.91500884,
        4948755.57082479,  5202314.77451796,  7011118.03772554,
        6148615.25003681,  7201236.21231568,  4571654.03320884,
        3811730.27925871,  3524576.30421208,  2254774.21855993,
        2476033.93475988,  3630746.6525871 ,  6610562.91649059,
        7602245.68923546,  4155923.4664163 ,  6117559.11062825,
        3828976.29824086,  4861467.33714375,  4698743.23155821,
        6857507.96435667,  3756341.80590094,  5336642.84755454,
        4586791.31111323,  3370004.73054686,  4297510.22968849,
        3088066.86245272,  4571399.28380473,  3739742.28054662,
        3923872.26293455,  6751576.99261113,  6833392.05612983,
        4749306.73068591,  4803662.0853413 ,  6177230.07993577,
        3120109.62739318,  5830960.65776756,  6140136.82325726,
        2787447.10388087,  6415763.55138543,  3266616.45146858,
        4708546.58972836,  4408811.39199127, 10209573.43464712,
        3730308.32138738,  3123029.85976628,  5301747.79924235,
        5950708.324685  ,  5618569.56625822,  4207036.03047485,
        7387723.09840181,  4344900.38110059,  3597995.14412814,
        7897362.65021866,  6516268.64192099,  5301725.91593399,
        3038626.0378873 ])

In [100]:
#calculating the accuracy of the model
linearmodel.score(X,y) # evaluation is taking place

0.6753361055352733

In [101]:
X.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,1
1,8960,4,4,4,1,0,0,0,1,3,0,1
2,9960,3,2,2,1,0,1,0,0,2,1,0
3,7500,4,2,2,1,0,1,0,1,3,1,1
4,7420,4,1,2,1,1,1,0,1,2,0,1

In [102]:
#predictions with respect to new dataset
data_new={'area':9520,'bedrooms':3,'bathrooms':2,'stories':2,'mainroad':0,'guestroom':1,'basement':0,'hotwaterheating':1,'airconditioning':1,'parking':1,'prefarea':0,'furnishingstatus':1}
index=[1]#serial number
my_data=pd.DataFrame(data_new,index)

In [103]:
print(my_data)

   area  bedrooms  bathrooms  stories  mainroad  guestroom  basement  \
1  9520         3          2        2         0          1         0

   hotwaterheating  airconditioning  parking  prefarea  furnishingstatus
1                1                1        1         0                 1

In [110]:
#Pricing allocated
my_data_price=linearmodel.predict(my_data)
rounded_price = np.round(my_data_price, 2)
print(f"the charges allocated to the new customer is {rounded_price}")

the charges allocated to the new customer is [7863055.23]